<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <button class="btn btn-primary" (click)="onlyOdd = !onlyOdd">Only show odd numbers</button>
      <br><br>
      <ul class="list-group">
        <!-- <div *ngIf="onlyOdd">
        <li class="list-group-item" *ngFor="let odd of oddNumbers"
          [ngClass]="{odd : odd%2!==0}"
          [ngStyle]="{backgroundColor: odd % 2 !== 0 ? 'gold' : 'transparent'}"
          appOddNumberStyler
          >
            {{odd }}
          </li>
          <li class="list-group-item" *ngFor="let odd of oddNumbers"
          [ngClass]="{odd : odd%2!==0}"
          appOddNumberStyler [defaultColor]="'yellow'"
          [highlightColor] = "'red'"
          >
            {{odd }}
          </li>
        </div> -->
        <div *ngIf="!onlyOdd">
          <li class="list-group-item" appEvenNumberHighLighter *ngFor="let even of evenNumbers">
            {{ even }}
          </li>
        </div>
        <div *appOddNumberDirective="onlyOdd">
          <li class="list-group-item" *ngFor="let odd of oddNumbers" [ngClass]="{odd : odd%2!==0}" appOddNumberStyler
            [defaultColor]="'yellow'" [highlightColor]="'red'">
            {{odd }}
        </div>
      </ul>
      <hr>
    </div>
  </div>
</div>
